/*Text color*/
@text-content-color: #000000;
@text-button: #ffffff;

/*Color-page*/
@color-page: #fbf5f4;
@color-button: #f78e6a;
@color-button-menu: #f89978;
@color-hover: rgba(255, 225, 230, 0.9);
@color-active: rgba(255, 180, 180, 0.9);

/*Screen sizes*/
@mobile-width: 375px;
@tablet-width: 768px;
@desktop-width: 1920px;
@mobile-width-only: 767px;
@tablet-width-only: 1919px;

/*Retina size*/
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
